<html>
    <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "css/styles1.css" %}?{% now "U" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    </head>
<body>
  
  <div class="uper_imgs">
    <div class="bg fade-imgi">
      <div class="uii">
        <h1>Incredible India</h1>
        <p>home of divine heritage and uncountable culture</p>
        </div>
        
      <img src="/static/image/img1.jpg" style="width:100%; height: 350px;">
    </div>
    
    <div class="bg fade-imgi">
      <div class="uii">
        <h1>Incredible India</h1>
        <p>home of divine heritage and uncountable culture</p>
        </div>
    
      <img src="/static/image/img2.jpg" style="width:100%; height: 350px;">
    
    </div>
    
    <div class="bg fade-imgi">
     <div class="uii">
        <h1>Incredible India</h1>
        <p>home of divine heritage and uncountable culture</p>
        </div>
    
      <img src="/static/image/img3.jpg" style="width:100%; height: 350px;">
     
    </div>
    <div class="bg fade-imgi">
      <div class="uii">
         <h1>Incredible India</h1>
         <p>home of divine heritage and uncountable culture</p>
         </div>
     
       <img src="/static/image/img4.jpg" style="width:100%; height: 350px;">
      
     </div>
    </div>
    <div>
      <span class="dot-in"></span> 
      <span class="dot-in"></span> 
      <span class="dot-in"></span> 
      <span class="dot-in"></span> 
    </div>
    <script>
      var slideIndex = 0;
      show();
      
      function show() {
        var i;
        var slides = document.getElementsByClassName("bg");
        var dots = document.getElementsByClassName("dot-in");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        setTimeout(show, 2000); // Change image every 2 seconds
      }
      </script>
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #2a2a72;
    background-image: linear-gradient(90deg, #363694 0%, #0083fd 74%);">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" >
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a  href="/User/Home/" class="nav-link active">Home</a>
            <a href="/User/Packages/" class="nav-link">Packages</a> 
            <a href="/User/Hotels/" class="nav-link">Hotels</a>
            <a href="/User/Bookings/" class="nav-link">Previous Bookings</a>
            <a href="/logout/" class="nav-link">Logout</a>
          </div>
      </div>
  </nav>
    <div class="container">
      <div class="font">Popular Packages</div>
      <br>
      <table class="table table-responsive-md btn-table">
          <tbody>
            <tr>
              <td>
                Enchanting Munnar
              </td>
              <td>Rs 12,999
              </td>
              <td>
                3 Nights
              </td>
              <td>
                Meals , Flights , Accommodation , Transfer , Sightseeing
              </td>
            </tr>
            <tr>
              
              <td>Delightful Ladakh</td>
              <td>Rs 38,999
              </td>
              <td>
                5 Nights
              </td>
              <td>Meals , Accommodation , Transfer , Sightseeing
              </td>
            </tr>
            <tr>
            
              <td>Heritage of Agra & Jaipur to Bharatpur Sanctuary</td>
              <td>Rs 10,000
              </td>
              <td>
                4 Nights
              </td>
              <td>Meals , Accommodation , Transfer , Sightseeing
              </td>
              <td>
              </td>
            </tr>
          </tbody>
      </table>
      <br>
      <div class="font">Popular Hotels</div>
      <br> 
      <table class="table table-responsive-md btn-table">
      <tbody>
          <tr>
          <td>
              Panna villas
          </td>
          <td>Rs 3,500
          </td>
          <td>
              Per Night
          </td>
          <td>
              Breakfast included , Swimming pool
          </td>
          </tr>
          <tr>
          
          <td>Hotel forest retreat</td>
          <td>Rs 4,500
          </td>
          <td>
              Per Night
          </td>
          <td>Meals , Breakfast , Swimming Pool ,<br> Mineral Water
          </td>
          </tr>
          <tr>
          
          <td>Delux Mahindra Hillview</td>
          <td>Rs 8,000
          </td>
          <td>
              Per Night
          </td>
          <td>Breakfast , Private Swimming Pool,<br> Room service , Mineral Water
          </td>
          <td>
          </td>
          </tr>
      </tbody>
      
      </table> 
    </div>
<br>
<br>
<br>
</body>
</html>